@import "tailwindcss";

@theme {
  --color-base-50: oklch(97.8% 0.002 247.84);
  --color-base-100: oklch(95.4% 0.003 258.32);
  --color-base-200: oklch(90.1% 0.005 262.75);
  --color-base-300: oklch(82.7% 0.008 262.74);
  --color-base-400: oklch(71.4% 0.011 264.78);
  --color-base-500: oklch(57.9% 0.014 264.9);
  --color-base-600: oklch(45.1% 0.014 266.12);
  --color-base-700: oklch(35.5% 0.013 267.42);
  --color-base-800: oklch(26.9% 0.012 267.01);
  --color-base-900: oklch(20.9% 0.01 268.4);
  --color-base-925: oklch(17.8% 0.009 269.12);
  --color-base-950: oklch(13.8% 0.008 270.3);

  --color-primary: #06b6d4;
  --color-primary-foreground: #0f172a;

  --color-background: #0f172a;
  --color-foreground: #f1f5f9;
  --color-card: #1e293b;
  --color-card-foreground: #f1f5f9;
  --color-muted: #334155;
  --color-muted-foreground: #94a3b8;
  --color-accent: #0ea5e9;
  --color-accent-foreground: #f1f5f9;
  --color-border: oklch(0.269 0 0);
}

:root {
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1, "tnum" 1;
  font-variant-numeric: tabular-nums;

  --background: #0f172a;
  --foreground: #f1f5f9;
  --card: #1e293b;
  --card-foreground: #f1f5f9;
  --muted: #334155;
  --muted-foreground: #94a3b8;
  --border: oklch(0.269 0 0);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: var(--color-background);
}
